<VirtualHost *:80>
  ServerName {{ ServerNameA }}
  DocumentRoot {{ DocumentRootA }}
</VirtualHost>
<VirtualHost *:80>
  ServerName {{ ServerNameB }}
  DocumentRoot {{ DocumentRootB }}
</VirtualHost>
<VirtualHost *:80>
  ServerName {{ ServerNameC }}
  DocumentRoot {{ DocumentRootC }}
</VirtualHost>
<VirtualHost *:80>
  ServerName {{ ServerNameD }}
  DocumentRoot {{ DocumentRootD }}
</VirtualHost>
